body {
  color: red ;
  background-color: black;
}
#button {
  background-color: red;
  border-radius: 8px;
}
#button:hover {
  background-color: blue;
  color: white;
}
img {
  display: block;
  margin: auto;
}
#link {
  color: white;
}
