body {
  color: white ;
  background-color: black;
}
h1 {
  color: red ;
}
h2 {
  color: red ;
}
h3 {
  color: red ;
}
#button {
  background-color: red;
  border-radius: 8px;
}
#button:hover {
  background-color: blue;
  color: white;
}
img {
  display: block;
  margin: auto;
}
#form {
  color: white;
}
#form_box {
  border-width: 3px;
  margin-top: 5px;
}
#form_boxa {
  border-width: 3px;
  margin-top: 5px;
  height: 50px;
  width: 500px;
}
