.indent{
  padding-left:1.8em;
}
.link,#form, #button:hover{
  color:#FFF;
}
.fb1{
  margin-left:8px;
}
.fb2{
  margin-left:10px;
}
.fb3{
  margin-left:41px;
}
body{
  color:#FFF;
  background-color:#000;
  font:"Times New Roman";
}
h1, h2, h3, .link1{
  color:red;
}
#button{
  background-color:red;
  border-radius:8px;
}
#button:hover{
  background-color:#07889b;
}
img{
  display:block;
  margin:auto;
}
#form_box, #form_boxa{
  border-width:3px;
  margin-top:5px;
  width:500px;
}
#form_boxa{
  height:50px;
}
.submit{
  margin-top:10px;
}
